{% extends "main.html" %}
{% block content %}
	<div class="container">
		{% if game %}
			<h2>{{game.name}}</h2>
		{% endif %}
	</div>
	<section class="container">		
			{% if characters != [] %}					
				<h2>Characters</h2>
				<div class="container">
					<a href="{{url_for('newCharacter')}}">
						<button class="btn btn-default" id="new-character">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Character
						</button>
					</a>	
				</div>
				<div class="row text-center">
					{% for character in characters %}
					<div class="col-xs-4">
						<div>
							<h3>{{character.name}}</h3>
							<p>{{character.bio}}</p>
							<img class="img img-responsive center-block" src="{{character.photo_url}}" height="100" width="100">
							<a href="characters/{{character.name}}/edit" class="btn btn-default">Edit</a>
							<a href="characters/{{character.name}}/delete" class="btn btn-danger">Delete</a>
						</div>
					</div>			
					{% endfor %}
				</div><!-- row -->	
			{% endif %}		
	</section>
{% endblock %}