{% extends "main.html" %}
{% block content %}

	<h2>
		Are you sure you want to delete {{character.name}}?
	</h2>

	<form action="{{ url_for('deleteCharacter', character_name = character.name, game_name = character.game.name)}}", method = 'post'>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

		<button type="submit" class="btn btn-default" id="submit" type="submit">

		<i class="fa fa-trash-o"></i> Delete</button>	

		<a href = "{{url_for('showCharacters', game_name = character.game.name)}}">
			<button class="btn btn-default">
				<i class="fa fa-close"></i> Cancel
			</button>
		</a>	

	</form>

{% endblock %}