{% extends "main.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit {{character.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{url_for('editCharacter', character_name = character.name, game_name = character.game.name)}}" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" name="name" value="{{character.name}}">
					<label for="photo_url">Photo URL:</label>
					<input type ="text" class="form-control" name="photo_url" value="{{character.photo_url}}">
					<select name="game" class="form-control">
						{% if games != [] %}
							{% for game in games %}
								<option>{{game.name}}</option>
							{% endfor %}
						{% endif %}
					</select>
					<div class="padding-bottom"></div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save
					</button>
					<a href = '{{url_for('showCharacters', game_name=character.game.name)}}' class="btn btn-default">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
					</a>					
				</div>
			</form>

		</div>
	</div><!-- row -->
{% endblock %}