{% extends "main.html" %}
{% block content %}
	<h1>Games</h1>
	<div class="section">
		<a href="{{url_for('newGame')}}">
			<button class="btn btn-default" id="new-restaurant">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Game
			</button>
		</a>	
	</div>
	
	<div class="container text-center">
		<div class="row">
			{% for game in games %}
				<a href="{{game.name}}">
					<div class="col-xs-3">
						<h3>{{game.name}}</h3>
						<img class="img img-responsive center-block" src="{{game.logo_url}}" height="100" width="100">
						<a href="{{game.name}}/edit" class="btn btn-default">Edit</a>
					</div>
				</a>
			{% endfor %}	
		</div>
	</div>
{% endblock %}